node_modules/
dist/
build/
.data/
.env
.env.*
!.env.example
*.log
.DS_Store
apps/api/src/generated/
bundle/
apps/api/uploads/

# Source syllabus PDFs (WAEC copyright): imported as data, never committed
waec-syllabus/
jamb-syllabus/
bece-syllabus/
BECE-syllabus/
/*.pdf
